#RewriteEngine On
#RewriteCond %{SERVER_PORT} 80

<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [L]
    #RewriteRule ^(.*)$ https://franchise.myheavenmarketing.com/$1 [R,L]
    
    php_value memory_limit 128M

	SetEnv DEFAULT_DB_HOST localhost
	SetEnv DEFAULT_DB_USER root
	SetEnv DEFAULT_DB_PASSWORD Admin@123
	SetEnv DEFAULT_DB_NAME my_heaven

	SetEnv MYHEAVEN_DB_HOST localhost
	SetEnv MYHEAVEN_DB_USER root1
	SetEnv MYHEAVEN_DB_PASSWORD Redhat@123
	SetEnv MYHEAVEN_DB_NAME myheaven_db

	SetEnv DEFAULT_SESSION_KEY O2lCRVJOWFNFQ1VSSVRZ
	SetEnv DEFAULT_SESSION_NAME my_heaven_franchise_session
	SetEnv PUBLICDOMAIN localhost
</IfModule>
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
